@import './variables.scss';

.has-hover-background:hover{
    background: $hover-background;
}

// force nowrap
.is-nowrap{
    white-space: nowrap;
}

// Force a inline element to nowrap, and ellipse overflow
.is-ellipsed{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.has-cursor-pointer{
    cursor:pointer;
}
