//https://bulma.io/documentation/customize/variables/


/**
 * here is custom c2c variables
 */
$color-base-c2c: #ffaa45; // orange
$color-complementary: #a9d361; // green
$color-link: #337ab7; // actually, primary color, but used for links...

$color-base-darker: #B26F1E;
$color-base-lighter: #FFAA45;
$color-complementary-lighter: #45C5FF;

/**
 * Bulma variables
 */
$body-size : 14px !default;

$size-1	: 2.2rem;   // 3rem;
$size-2	: 1.9rem;   // 2.5rem;
$size-3	: 1.6rem;   // 2rem;
$size-4	: 1.3rem;   // 1.5rem;
$size-5	: 1.15rem;   // 1.25rem;
// $size-6 : 1 rem, untouched
$size-7 : 0.8rem; //0.75


/**
 * customize bulma colors
 */
$primary: $color-link;
$secondary: $color-complementary;
$link: $color-link;
//$info: $cyan
//$success: $green
//$warning: $yellow
//$danger: $red
//$dark: $grey-darker
//$text: $grey-dark
$pagination-current-background-color:$primary;
$pagination-current-border-color:$primary;
$body-background-color : white;

// Paddings and margins
$section-padding : 1.5rem 1.5rem;



/*
 * Here is bulma variables needed for components.
 * we only includes variables from utilities, and
 * locally other varaible if needded (like $navbar-height)
 */
$navbar-height: 3.25rem;

@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/derived-variables.sass";


/**
 * Another custom C2C var, but that are computed from bulma variables
 */

$hover-background: hsl(0, 0%, 92%);
